:root {
    --mainColor: #23e0e4;
    --mainBackgroundLight: #ffffff;
    --mainBackgroundDark: #3a3b4b;
    --borders:0;
}

/* FONTY */
.fontMain{

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.fontBig{

    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;

}

/* STÍN TEXTU NAVIGAČNÍHO PANELU */
.fontNav{

    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: bold;


    color: var(--mainColor);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);

}

.fontSignature{

    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;

}


.mainColor{

    color: var(--mainColor);
}


.background{

    background: url("images/JosefTolda3.png") no-repeat;
    background-size: cover;
    background-position: top;
    
    display: flex;
    flex-direction: column;

}

/* ČERNÉ POZADÍ */
.backgroundDark{

    background-color: var(--mainBackgroundDark);
    
    display: flex;
    flex-direction: column;

}

.container-full {
    height: 30vh; /* Set height for the container */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Align children vertically */
    justify-content: flex-end; /* Align items to the bottom */
}

.logo {

    width: 250px;
    padding-top: 280px;
    filter: drop-shadow(4px 4px 6px var(--mainColor));

}


/* PODTRŽENÍ NAVIGAČNÍHO PANELU */
.underliner{
    background-color: rgba(0, 0, 0, 0.4);
}

/* PODTRŽENÍ NAVIGAČNÍHO PANELU */
._nav-underline{
     border-bottom: 2px solid rgba(255, 255, 255, 0);
}

/* PODTRŽENÍ NAVIGAČNÍHO PANELU - KURZOR */
._nav-underline:hover{
    border-bottom: 2px solid white;
}

.navImage{
    width: 30px;
    height: 30px;;
    border-radius: 100%;
}



/* HLAVNÍ TEXT */
.signature-text{

    font-style: italic;
    color: var(--mainColor);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);

}

.borders{
    border: 2px solid rgba(210, 18, 18, var(--borders));

}



.referenceImage{
    width: 150px;
    height: 150px;;
    border-radius: 100%;
}


.introduce{

    font-style: italic;

}

/*SERVICES*/
.imageServices{

    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center; 



}

._bordersServices{
    border-right: 6px solid var(--mainColor);
    border-style: groove;
}

.colorServices{

    color: var(--mainColor);

}

.colorServicesLong{

    color: #b8e7e8;

}


.infokruhy {

    width: 200px;
    height: 200px;

    border: 4px solid var(--mainColor);
    border-radius: 100%;

    color: var(--mainColor);
    
    font-size: 3rem;

}


.logoPartners{

    width: 150px;

}


.bordersFooter{

    border: 0px solid grey;
    border-top: 6px solid var(--mainColor);
    border-style: solid;

}



/*
