:root {

    
    --colorLight: #69d7ff;
    --colorLight: #dfc6b8;
    --colorLight: #23e0e4;
    --colorLight: #00dfe3;


    --colorLight: #ffffff;
    --colorLightBig: #00b1b4;
    --colorDark: #3a484b;
    --colorDarkBig: #00b1b4;;
    --mainBackgroundLight: #ffffff;
    --mainBackgroundDark: #3a3b4b;

    --borders:0;
}

/* Barevné režimy */
.colorModeBrown {
    --colorLight: #dfc6b8;
    --colorLightBig: #c7a78b;
    --colorDark: #744f3e;
    --colorDarkBig: #7a6254;
    --mainBackgroundLight: #fdf6ef;
    --mainBackgroundDark: #3d3734;
}

.colorModeAntracit {
    --colorLight: #ffffff;
    --colorLightBig: #00b1b4;
    --colorDark: #3a484b;
    --colorDarkBig: #00b1b4;
    --mainBackgroundLight: #ffffff;
    --mainBackgroundDark: #3a3b4b;
}

.colorModeRed {
    --colorLight: #dcbcbc;
    --colorLightBig: #c00e0e;
    --colorDark: #7d3131;
    --colorDarkBig: #4d0e0e;
    --mainBackgroundLight: #ffffff;
    --mainBackgroundDark: #32333b;
}








.Warning{

    background-color: rgba(0, 0, 0, 0.347);
    color: white;

}

/* FONTY */
    .fontMain{

        font-family: "Dosis", sans-serif;
        font-weight: normal;
        font-style: normal;

    }

    .fontBig{

        font-family: "Pattaya", serif;
        font-weight: 400;
        font-style: normal;

    }



    /* STÍN TEXTU NAVIGAČNÍHO PANELU */
    .fontNav{

        font-family: "Afacad Flux", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;

        color: var(--colorLightBig);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);


    }


.navBarva{

    margin: 0;
    padding: 0;

    background: #ffffff00;
    border: 0px;

    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    color: var(--colorLightBig);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);

}

/* COLORS */
.colorWhite{
    color: rgb(255, 255, 255);
}


.colorLight{
    color: var(--colorLight);
}

.colorLightBold{
    color: var(--colorLight);
    font-weight: bold;
}

.colorLightBig{
    color: var(--colorLightBig);
}

.colorLightBigBold{
    color: var(--colorLightBig);
    font-weight: bold;
}


.colorDark{
    color: var(--colorDark);
}

.colorDarkBold{
    color: var(--colorDark);
    font-weight: bold;
}

.colorDarkBig{
    color: var(--colorDarkBig);
}

.colorDarkBigBold{
    color: var(--colorDarkBig);
    font-weight: bold;
}





/* IMAGES */

.background{

    background: var(--mainBackgroundDark) url(images/BackgroundTransparent.png) no-repeat;
    background-size: cover;
    background-position: top;
    
    height: 100vh;

}



.backgroundOMne {

    background: url(images/images/image_4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 45vh;

}

.backgroundSluzby{

    background: url(images/images/image_3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 45vh;

}

.backgroundLogo{

    position: fixed;
    
    background: url("images/JosefTolda - Logo 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 55vh;
    height: 55vh;

    filter: drop-shadow(1px 1px 2px var(--colorLight));

    z-index: 1;

    transition: opacity 0.2s ease-in-out;
    opacity: 1; 

}

        @media (min-width: 0px)     {.backgroundLogo {background-size: 015%;    left: -21vh;     top: -5vh;}}
        @media (min-width: 375px)   {.backgroundLogo {background-size: 020%;    left: -19vh;     top: -5vh;}}
        @media (min-width: 425px)   {.backgroundLogo {background-size: 020%;    left: -17vh;     top: -5vh;}}
        @media (min-width: 768px)   {.backgroundLogo {background-size: 030%;    left: -05vh;     top: -5vh;}}
        @media (min-width: 1024px)  {.backgroundLogo {background-size: 035%;    left: -05vh;     top: -5vh;}}
        @media (min-width: 1440px)  {.backgroundLogo {background-size: 050%;    left: +21vh;     top: -5vh;}}
        @media (min-width: 2560px)  {.backgroundLogo {background-size: 070%;    left: +40vh;     top: -0vh;}}




/* ČERNÉ POZADÍ */
.backgroundDark{

    background-color: var(--mainBackgroundDark);
    
    display: flex;
    flex-direction: column;

}

/* ČERNÉ POZADÍ */
.backgroundLight{

    background-color: var(--mainBackgroundLight);
    
    display: flex;
    flex-direction: column;

}

.signatureText {

    height: 85vh;


    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-size: 2.rem;
    font-style: italic;

    margin-top: -70px;
    
    color: var(--colorLightBig);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    
}

    @media (min-width: 0px)     {.signatureText {};};
    @media (min-width: 768px)   {.signatureText {};};
    @media (min-width: 992px)   {.signatureText {};};
    @media (min-width: 1200px)  {.signatureText {};};



/* PODTRŽENÍ NAVIGAČNÍHO PANELU */
.underliner{
    background-color: rgba(0, 0, 0, 0.0);
}



.borders{
    border: 2px solid rgba(210, 18, 18, var(--borders));

}



.referenceImage{
    width: 150px;
    height: 150px;;
    border-radius: 100%;
}


.introduce{

    font-style: italic;

}

/*SERVICES*/
.imageServices{

    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center; 



}

._bordersServices{
    border-right: 6px solid var(--colorLight);
    border-style: groove;
}



.infokruhy {

    width: 200px;
    height: 200px;

    border: 4px solid var(--colorDark);
    border-radius: 100%;

    color: var(--colorDark);
   
    font-size: 3rem;

}


.logoPartners{
    width: 130px;
}

    @media (min-width: 0px) {.logoPartners {    width: 130;    }}
    @media (min-width: 768px) {.logoPartners {    width: 210px;    }}


.bordersFooter{

    border: 0px solid grey;
    border-top: 6px solid var(--colorLight);
    border-style: solid;

}

.buttonCustom{

    background-color: var(--colorLightBig);
    color: var(--colorLight);

    margin-top: 10px;
    padding: 10px 100px;

    border-radius: 10px;

}

.myFooter{
    color: var(--colorLightBig);
    text-decoration: none;
}

.footerLogo{
    height: 40px;
}


/*NAVIGACE*/
    .navbar-toggler {
        margin-left: auto; 
    }

    /* PODTRŽENÍ NAVIGAČNÍHO PANELU */
    ._nav-underline{
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }

    /* PODTRŽENÍ NAVIGAČNÍHO PANELU - KURZOR */
    ._nav-underline:hover{
    border-bottom: 2px solid white;
    }

    .navImage{
    width: 30px;
    height: 30px;;
    border-radius: 100%;
    }

    .navActive{
        border-bottom: 2px solid var(--colorLight);
    }

    .navBackgroundDark{
        background-color: #00000065;
    }

    .navbar{
        transition: opacity 1s ease-in-out;
        opacity: 1; 
    }

    @media (min-width: 0px) {.navBackgroundDark      {background-color: #00000065;}}
    @media (min-width: 768px) {.navBackgroundDark    {background-color: #ffffff00;}}


