<div class="underliner">
    <div class="borders | d-flex align-items-center justify-content-end | px-3 | ">


        <nav class="navbar | _x navbar-expand-md | navbar-dark _x | py-3">

            <!--TLAČÍTKO-->
            <button class="navbar-toggler | my-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-nowrap | w-100" id="navbarSupportedContent">
                <ul class="navbar-nav navBackgroundDark | d-flex  | align-items-center ">
                    
                    <li class="nav-item navActive   | px-2  | _nav-underline"><a class="nav-link | d-flex | align-items-center" href="index.html" aria-current="page"> <img src="images/icons/Ikona - O mne.webp" alt="domů" srcset="" class="navImage me-2 "><span class="fontNav fs-5">DOMŮ</span></a></li>
                    <li class="nav-item             | px-2  | _nav-underline"><a class="nav-link | d-flex | align-items-center" href="o-mne.html" aria-current="page"> <img src="images/icons/ikona - Reference.webp" alt="domů" srcset="" class="navImage me-2 "><span class="fontNav fs-5">O MNĚ</span></a></li>
                    <li class="nav-item             | px-2  | _nav-underline"><a class="nav-link | d-flex | align-items-center" href="sluzby.html" aria-current="page"> <img src="images/icons/ikona - Sluzba.webp" alt="domů" srcset="" class="navImage me-2 "><span class="fontNav fs-5">SLUŽBY</span></a></li>
                    <li class="nav-item             | px-2  | _nav-underline"><a class="nav-link | d-flex | align-items-center"> <img src="images/icons/ikona - Barva.webp" alt="domů" srcset="" class="navImage me-2 "><span class="fontNav fs-5"><button class="navBarva" id="toggle-mode">BARVA</button></span></a></li>
                    
                </ul>
            <div>

        </nav>

        
    </div>
</div>
