<!--SLUŽBY | ZAČÁTEK -->
<div class="backgroundDark">
    <article class="container borders text-white ">
    <div class="row my-5">

        
        <section class="col-12 col-sm-12 col-md-4 borders | _bordersServices">
            <img src="images/icons/ikonaHypo.png" alt="" srcset="" class="imageServices borders | ">
            <h2 class="fontMain fs-2 fw-bold | colorLightBig | mb-2">Hypoteční úvěry</h2>
            <p class="colorLight | fontMain">  
                Hypotéka je závazek na několik let či desetiletí, a to samé platí i o nemovitosti. Provedu vás jejím narozením, životem …
                <strong>Hypotékou se nejčastěji realizuje nákup nemovitosti. Lze jí také použít na rekonstrukci nebo výstavbu nového bydlení.</strong> 
                K dalším možným účelům patří : majetkovému vypořádání, refinancování hypotéky a zpětné proplacení peněz, které jste vložili do nákupu, stavby nebo rekonstrukce nemovitosti.           
            </p>
        </section>

        <section class="col-12 col-sm-12 col-md-4 borders | _bordersServices">
            <img src="images/icons/ikonaUver2.webp" alt="" srcset="" class="imageServices borders | ">
            <h2 class="fontMain fs-2 fw-bold | colorLightBig | mb-2">Spotřebitelské úvěry</h2>
            <p class="colorLight | fontMain">  
                Spotřebitelské úvěry existují stejně dlouho jako peníze samotné.
                Kdy je rozumné žádat o spotřebitelský úvěr?
                Dá se říct, že je rozumné vzít si úvěr v situaci, <strong class="colorLightBold">když si potřebujete peníze na něco důležitého, co si ale v danou chvíli nemůžete dovolit.</strong> 
                Zpracuji pro vás nabídky bank, vyhodnotím poplatky a případné pojištění úvěru. 
            </p>
        </section>

        <section class="col-12 col-sm-12 col-md-4 borders">
            <img src="images/icons/ikonaAmerika.webp" alt="" srcset="" class="imageServices borders | ">
            <h2 class="fontMain fs-2 fw-bold | colorLightBig | mb-2">Americká hypotéka</h2>
            <p class="colorLight | fontMain">  
                Kdy se hodí americká hypotéka?
                Existuje řada případů, kdy se vyplatí sáhnout po americké hypotéce. Americká hypotéka se jednoduše hodí vždy, <strong>když potřebujete půjčit větší obnos peněz na dlouhou dobu a současně jste ochotni  bance ručit vlastní nemovitostí.
                Americká hypotéka vám umožní získat peníze i neúčelově.</strong> Financovat tak můžete jakékoliv vaše potřeby.
            </p>
        </section>

        </div>
    </article>
</div>    
<!--SLUŽBY | KONEC -->